* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    color: white;
    font-size: 20px;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    background-color: #140d63;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.header {
    margin: 50px 60px;
    text-decoration: none;
}
.header h1 {
    font-size: 36px;
    font-family: "Rowdies";
    color: #ff9800;
    display: inline-block;
    text-decoration: none;
}
.header span {
    color: #ff9800;
    font-size: 24px;
    font-family: "Mulish", sans-serif;
}
.footer {
    margin-top: 20px;
    color: #ff9800;
    font-size: 22px;
    font-family: "ubuntu";
    border-bottom: 0.5px solid #ff9800;
    padding-bottom: 40px;
}
a:link {
    color: #ff9800;
}
a:visited {
    color: #ff9800;
}
.content {
    word-wrap: break-word;
    width: 55%;
    margin: 200px auto;
    text-align: center;
}
.two {
    word-wrap: break-word;
    margin-top: 15px;
}
.three {
    margin-top: 15px;
}
.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 25vh;
    left: 0;
    bottom: 0;
    background-color: rgb(1, 20, 54);
}
.fcontainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fright {
    display: flex;
    flex-direction: column;
}
.icons {
    display: flex;
    flex-direction: row;
}
.fitem {
    padding: 10px;
}
.header a {
    text-decoration: none;
}
